@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/functions';

@import 'base/reset';
@import 'base/font';
@import 'vendors/swiper';

@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/footer';
@import 'layout/layout';

@import 'pages/main';
@import 'pages/member';
@import 'pages/book';
@import 'pages/app';
@import 'pages/myinfo';
@import 'pages/result';
@import 'pages/print';



body {
	font-size: vw(22);
	-ms-overflow-style: none; 
	overflow-x: hidden;
	letter-spacing: -0.05em;
}
// ::-webkit-scrollbar { 
// 	display: none;
// }
/* common */
select.select {
	// padding: 5px 20px 5px 10px;
	padding: vw(5) vw(20) vw(5) vw(10);
	border-radius: 0;
	-webkit-appearance: none;
	border-radius: 0;
	border: vw(1) solid #c9c9c9;	
}
/* IE 에서 Select box 화살표 제거 */
select.select::-ms-expand {
	display: none;
}

input {
	outline: none;
}

a {
	text-decoration: none;
	color:#000;
}

.noscroll {
	scrollbar-width: none;
    -ms-overflow-style: none;
}
.noscroll::-webkit-scrollbar {
    display: none;
}

/* IE 에서 Select box 화살표 제거 */
.cus_select::-ms-expand {
	display: none;
}

.pc {
	display: none !important;
}
.m {
	display: block !important;
}
.pc_f {
	display: none !important;
}
.m_f {
	display: flex !important;
}

#wrap {
	display: flex;
	flex-direction: column;
	height: 100%;
}
select {
	color:#999;
}
input::placeholder {
	color:#999;
}
input[type=checkbox] {
	width: vw(24);
	height: vw(24);
	background: url(../img/ico_checkbox.svg) no-repeat 0 0 / cover;
	&:checked {
		background: url(../img/ico_checkbox_on.svg) no-repeat 0 0 / cover;
	}
	&:disabled {
		background: url(../img/ico_checkbox_disabled.svg) no-repeat 0 0 / cover;		
	}
	&.on_disabled {
		background: url(../img/ico_checkbox_on_disabled.svg) no-repeat 0 0 / cover;		
	}
}
/* pc layout common */
@include desktop {
	.pc {
		display: block !important;
	}
	.m {
		display: none !important;
	}
	.pc_f {
		display: flex !important;
	}
	.m_f {
		display: none !important;
	}
	body {
		font-size: px(18);
		-ms-overflow-style: none; 
		overflow-x: hidden;
		letter-spacing: -0.05px;
	}
	input[type=checkbox] {
		width: px(24);
		height: px(24);
	}
}
