header.header {
    width: 100%;
    background-color: #fff;
    z-index: 100;
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:vw(15) vw(17);
        .logo {
            width: vw(150);
            img {
                width: 100%;
            }
        }
        ._menu {
            width: vw(27);
            height: vw(18);
            background:url(../img/ico_menu.svg) no-repeat 0 0 / 100%;
        }
        .btn_user {
            width: vw(28);
            height: vw(28);
            img {
                width: 100%;
            }
        }
    }
}
.main_menu {
    padding:0 vw(20);
    .__nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    .__nav li > a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: vw(42);
        font-size: vw(16);
        font-weight: 500;
        color:#000;
        letter-spacing: -0.03em;
        &.active_on {
            color:#EA5504;
            position: relative;
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: #EA5504;
                position: absolute;
                left: 0;
                top:-2px;
            }
            & + .sub_nav {
                display: flex;
                z-index: 10;
            }
        }
    }
    .sub_nav {
        position: absolute;
        height: vw(36);
        left: 0;
        top:vw(44);
        display: none;
        a {
            display: inline-block;
            line-height: vw(36);
            height: vw(36);
            margin-right: vw(12);
            color:#777;
            font-size: vw(15);
            &:last-child {
                margin-right: 0;
            }
            &.active_on {
                font-weight: 500;
                color:#333;
            }
        }
    }
    .sub_bg {
        border-top: 2px solid #DBDBDB;
        background: #F4F5F7;            
        position: absolute;
        left: 0;
        top: vw(114);
        z-index: 0;
        width: 100%;
        height: vw(36);
        display: none;
        &.active {
            display: block !important;
        }
    }
}

.bg_dimmed {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: rgba(0,0,0,.25);
    &.on {
        display: block;
    }
}

@include desktop {
    header.header {
        border-bottom: 2px solid #DBDBDB;
        position: relative;
        .inner {
            width: 1030px;
            margin:0 auto;
            padding:px(27) 0 px(24);
            .logo {
                width: 200px;
            }
            ._menu {
                width: 30px;
                height: 20px;
                margin-top: 30px;
                background:url(../img/ico_menu.svg) no-repeat 0 0 / 100%;
            }
            .btn_user {
                margin-top: 30px;
                width: 32px;
                height: 32px;
            }
        }
    }
    .main_menu {
        padding:0;
        position: relative;
        z-index: 101;
        border-bottom: 2px solid #DBDBDB;
        &::after {
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background:#DBDBDB;
            position: absolute;
            left:0;
            top:52px;
        }
        .inner {
            width: 1030px;
            margin:0 auto;
        }
        .__nav ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 1;
        }
        .__nav li {
            position: relative;
            &:nth-child(5) {
                .sub_nav {
                    transform: translateX(-25%);
                }
            }
            &:nth-child(6) {
                .sub_nav {
                    transform: translateX(-30%);
                }
            }
            &:last-child {
                .sub_nav {
                    left:auto;
                    right:0;
                }
            }
            
        }
        .__nav li > a {
            height: 52px;
            font-size: 22px;
            font-weight: 500;
            letter-spacing: 0;
            &:hover,
            &.active_on,
            &.active {
                color:#EA5504;
                position: relative;
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #EA5504;
                    position: absolute;
                    left: 0;
                    top:-2px;
                }
                & + .sub_nav {
                    display: block;
                }
            }
        }
        .sub_nav {
            display: none;
            position: absolute;
            white-space: nowrap;
            left:0;
            top:53px;
            height: 45px;
            z-index: -1;
            a {
                display: inline-flex;
                align-items: center;
                height: 45px;
                line-height: 45px;
                margin-right: 20px;
                color:#777;
                font-size: 20px;
                &:last-child {
                    margin-right: 0;
                }
                &:hover,
                &.active_on,
                &.active {
                    font-weight: 500;
                    color:#333;
                }
            }
        }
        .sub_bg {
            width: 100%;
            height: 45px;
            background: #F4F5F7;            
            position: absolute;
            left: 0;
            top: 52px;
            z-index: 0;
            display: none;
            &.active {
                display: block !important;
            }
        }
    }
}
