button {
    all: unset;
    cursor: pointer;
}
.btn {
    &.__top {
        position: fixed;
        right: vw(17);
        bottom: vw(50);
        width: vw(40);
        height: vw(40);
        background: url(../img/btn_top.svg) no-repeat 0 0 / cover;
    }
}
.side_banner {
    display: none;
}
.btn_main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: vw(51);
    border: 2px solid #000;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #FFCB40;
    span {
        font-size: vw(20);
        font-weight: 700;
        color:#000;
        padding-right: vw(15);
        background: url(../img/ico_polygon.svg) no-repeat 100% 50% / vw(10);
    }
    & + .btn_main {
        margin-top: vw(12);
    }
    &.puple {
        background-color: #A475FF;
    }
}
.btn_submit {
    display: flex;
    width: 100%;
    height: vw(48);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    letter-spacing: -0.03em;
    &.puple {
        background-color: $color_puple3;
    }
    &.gray {
        background-color: #999;
    }
    &.orange {
        background-color: $color_orange2;
        > span {
            color:#000;
        }
    }
    > span {
        font-size: vw(18);
        font-weight: 700;
        color:#fff;
    }
}
#wrap {
    &.open {
        height: 100vh;
        overflow: hidden;
    }
}
.side_nav {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000;
    width: 100%;
    height: 101%;
    overflow-y: auto;
    background-color: #fff;
    transition: left 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &.open {
        left: 0;
    }
    .tit {
        display: flex;
        width: 100%;
        align-items: center;
        height: vw(45);
        background-color: #FFCB40;
        padding-left:vw(22);
        font-size: vw(16);
        font-weight: 500;
        color:#000;
    }
    .__closed {
        position: absolute;
        right:vw(11);
        top:vw(4);
        display: block;
        width: vw(36);   
        height: vw(36);
        background: url(../img/ico_closed_menu.svg) no-repeat 0 0 / cover;
    }

    .quick_menu_list {
        margin:vw(15) vw(18);
        display: flex;
        border: 2px solid #ECECEC;
        box-sizing: border-box;
        border-radius: 10px;
        padding:vw(17) 0;
        li {
            width: calc(100% / 3);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: vw(13);
            a {
                display: flex;
                justify-content: center;
                width: 100%;
                padding-top: vw(40);
            }
            &:nth-child(1) a {
                background: url(../img/ico_login.svg) no-repeat 50% 0 / vw(36);
            }
            &:nth-child(2) a {
                background: url(../img/ico_join.svg) no-repeat 50% 0 / vw(36);
            }
            &:nth-child(3) a {
                background: url(../img/ico_pwfind.svg) no-repeat 50% 0 / vw(36);
            }
            &:nth-child(2) {
                border-left: 1px solid #ECECEC;
                border-right: 1px solid #ECECEC;
            }
        }
    }
    nav {
        height: 100%;
        flex: 1;
        background-color: #F4F5F7;
        padding:vw(20) vw(15);
        li {
            background: url(../img/ico_arrow_right.svg) no-repeat 100%  vw(12) / vw(24);
            color:#333;
            border-bottom: 1px solid rgba(196, 196, 196, 0.5);
            padding:vw(10) 0;
            .t1 {
                font-size: vw(18);
                font-weight: 500;
            }
            a {
                font-size: vw(15);
                margin-right: vw(10);
            }
        }
    }
}
@include desktop {
    .btn_main {
        margin:0 auto;
        width: 500px;
        height: 78px;
        box-shadow: 2px 2px 1px 1px #000;
        span {
            font-size: 30px;
            padding-right: 25px;
            background: url(../img/ico_polygon.svg) no-repeat 100% 50% / 15px;
        }
        & + .btn_main {
            margin-top: 25px;
        }
        &.puple {
            background-color: #A475FF;
        }
    }
    .btn_submit {
        height: 64px;
        letter-spacing: -0.03px;
        > span {
            font-size: 26px;
        }
    }
    .btn {
        &.__top {
            display: none;
        }
    }
    .side_banner {
        display: block;
        width: 220px;
        flex-direction: column;
        position: fixed;
        right:10px;
        top:50%;
        z-index: 200;
    }
    #wrap {
        &.open {
            height: 100%;
            overflow: visible;
        }
    }
    .side_nav {
        position: absolute;
        top: 113px;
        left: 50%;
        z-index: 1000;
        width: 1030px;
        transform: translateX(-50%);
        height: auto;
        overflow-y: auto;
        display: none;
        border: 2px solid #C4C4C4;
        &.open {
            display: flex;
            left: 50%;
        }
        .side_header {
            display: none;
        }
        .__closed {
            position: absolute;
            right:9px;
            top:10px;
            width: 44px;
            height: 44px;
        }
        nav {
            height: 100%;
            flex: 1;
            background-color: #fff;
            padding:30px 45px;
            li {
                background: none;
                color:#333;
                border-bottom: 1px solid #C4C4C4;
                padding:0 40px;
                height: 80px;
                display: flex;
                align-items: center;
                .t1 {
                    font-size: 22px;
                    font-weight: 500;
                    padding:0;
                    width: 130px;
                }
                a {
                    font-size: 18px;
                    margin-right: 0;
                    padding:0 10px;
                }
                &:last-child {
                    border-bottom: 0 solid #000;
                }
            }
        }
    }
}