.member {
    margin-bottom: vw(68);
    padding:vw(34) vw(15) 0;
    .btn_submit {
        & + .btn_submit {
            margin-top: vw(10);
        }
    }

    .tab_wrap {
        display: flex;
        align-items: center;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 2px;
        overflow: hidden;
        width: 100%;
        height: vw(40);
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex:1;
            font-size: vw(15);
            font-weight: 500;
            color:#999;
            height: 100%;
            background-color: #F4F5F7;
            &:first-child {
                border-right: 1px solid #C4C4C4;
            }
            &.active {
                color:#333;
                background-color: #fff;
            }
        }
    }

    .form_wrap {
        margin-top: vw(15);
        .txt {
            font-size: vw(14);
            color:#777;
            letter-spacing: -0.03em;
            padding-left: vw(8);
            position: relative;
            &::before {
                content: '';
                display: block;
                width: vw(2);
                height: vw(2);
                background-color: #777;
                border-radius: 50%;
                position: absolute;
                left:vw(3);
                top:50%;
            }
            & + .input_wrap {
                margin-top: vw(15);
            }
        }
    }
    ._link {
        text-decoration: underline;
        font-weight: 500;
        color:#666;
    }
    .input_wrap {
        margin-top: vw(30);
        margin-bottom: vw(30);
    }
    .agree_wrap {
        letter-spacing: -0.03em;
        margin: vw(17) 0 vw(35);
        label {
            display: flex;
            width: 100%;
            align-items: center;
            font-size: vw(15);
            color:#666;
            span {
                margin-left: vw(4);
            }
            & + label {
                margin-top: vw(5);
            }
        }
    }
    input.text {
        display: flex;
        align-items: center;
        padding-left: vw(50);
        width: 100%;
        height: vw(44);
        letter-spacing: -0.03em;
        font-size: vw(15);
        background: #000;
        box-sizing: border-box;
        border: 1px solid #F0F1F2;
        background-color: #F0F1F2;
        border-radius: 5px;
        font-weight: 500;
        background-repeat: no-repeat;
        background-position: vw(14) center;
        background-size: vw(28);
        &::placeholder {
            color:#999;
        }
        &.error {
            border: 1px solid #EA5504;
        }
        &.ico_id {
            background-image: url(../img/ico_input_id.svg);
        }
        &.ico_pw {
            background-image: url(../img/ico_input_pw.svg);
        }
        &.ico_user {
            background-image: url(../img/ico_input_user.svg);
        }
        &.ico_phone {
            background-image: url(../img/ico_input_phone.svg);
        }
        & + .text {
            margin-top: vw(8);
        }
        & + span + .text {
            margin-top: vw(8);
        }
    }
    .error_txt {
        font-size: vw(14);
        color:#EA5504;
        margin: vw(10) 0;
        letter-spacing: -0.03em;
        padding-left: vw(8);
        position: relative;
        &::before {
            content: '';
            display: block;
            width: vw(2);
            height: vw(2);
            background-color: #EA5504;
            border-radius: 50%;
            position: absolute;
            left:vw(3);
            top:50%;
        }
    }

    .privacy {
        margin-top: vw(30);
        letter-spacing: -0.05em;

        h2 {
            text-align: left;
            color:#000;
            font-size: vw(16);
            margin-top: vw(16);
            margin-bottom: vw(14);
            font-weight: 500;
            text-indent: vw(-15);
            margin-left: vw(15);
            line-height: 1.2;
            &:first-child {
                margin-top: 0;
            }
        }
        h3 {
            font-size: vw(15);
            color:#555;
            line-height: 1.5;
            margin-bottom: vw(5);
        }
        p {
            font-size: vw(14);
            color:#666;
            line-height: 1.5;
            &.t1 {
                padding-left: vw(10);
                position: relative;
                &::before {
                    content: '-';
                    position: absolute;
                    left: vw(2);
                    top:0;
                }
            }
        }
        .num_list {
            font-size: vw(14);
            color:#666;
            line-height: 1.5;
            counter-reset: num-counter;
            > li {
                position: relative;
                padding-left: vw(13);
                counter-increment: num-counter;
                &::before {
                    position: absolute;
                    left: 0;
                    top:0;
                    content: counter(num-counter) ") ";
                }
            }
            &.type2 {
                > li {
                    &::before {
                        content: counter(num-counter) ". ";
                    }
                }
            }
        }
        .kor_list {
            font-size: vw(14);
            color:#666;
            line-height: 1.5;
            margin-top: vw(5);
            margin-bottom: vw(10);
            padding-left: vw(17);
            li {
                position: relative;
                padding-left: 0;
                &::before {
                    display: none;
                }                             
            }
            li:nth-child(1)::marker {content: '가. ';}
            li:nth-child(2)::marker {content: '나. ';}
            li:nth-child(3)::marker {content: '다. ';}
            li:nth-child(4)::marker {content: '라. ';}
            li:nth-child(5)::marker {content: '마. ';}
            li:nth-child(6)::marker {content: '바. ';}
            li:nth-child(7)::marker {content: '사. ';}
            li:nth-child(8)::marker {content: '아. ';}
            li:nth-child(9)::marker {content: '자. ';}
            li:nth-child(10)::marker {content: '차. ';}
            li:nth-child(11)::marker {content: '카. ';}
            li:nth-child(12)::marker {content: '타. ';}
            li:nth-child(13)::marker {content: '파. ';}
            li:nth-child(14)::marker {content: '하. ';}
        }
        .dot_list {
            font-size: vw(14);
            color:#666;
            line-height: 1.5;
            li {
                position: relative;
                padding-left: vw(12);
                &::before {
                    position: absolute;
                    left: 0;
                    top:vw(-5);
                    font-size: vw(20);
                    content: '·';
                }
            }
        }
        .mb {
            margin-bottom: vw(20);
        }
        a {            
            color:#666;
            &:hover {
                text-decoration: underline;
                color:#EA5504;
            }
        }
    }
}
@include desktop {
    .member {
        width: 1030px;
        margin:0 auto;
        margin-bottom: 0;
        padding:100px 0;
        .btn_submit {
            & + .btn_submit {
                margin-top: 12px;
            }
        }
    
        .tab_wrap {
            height: 60px;
            a {
                font-size: 22px;
            }
        }
    
        .form_wrap {
            margin-top: 50px;
            border: 1px solid #C4C4C4;
            padding:56px 215px;
            .txt {
                font-size: 18px;
                letter-spacing: -0.03px;
                padding-left: 10px;
                &::before {
                    width: 3px;
                    height: 3px;
                    left: 3px;
                }
                & + .input_wrap {
                    margin-top: 10px;
                }
            }
        }
        .input_wrap {
            margin-top: 0;
            margin-bottom: 34px;
            span + .text {
                margin-top: 10px;
            }
        }
        .agree_wrap {
            letter-spacing: -0.03px;
            margin: 0 0 30px;
            label {
                font-size: 20px;
                padding-left: 12px;
                span {
                    margin-left: 4px;
                }
                & + label {
                    margin-top: 10px;
                }
            }
        }
        input.text {
            padding-left: 50px;
            height: 60px;
            letter-spacing: -0.03px;
            font-size: 22px;
            background-repeat: no-repeat;
            background-position: 12px center;
            background-size: 32px;
            &::placeholder {
                color:#999;
                font-weight: 400;
            }
            & + .text {
                margin-top: 10px;
            }
            & + span + .text {
                margin-top: 10px;
            }
        }
        .error_txt {
            font-size: 18px;
            margin: 10px 0;
            letter-spacing: -0.03px;
            padding-left: 10px;
            &::before {
                width: 3px;
                height: 3px;
                left: 3px;
            }
        }

        .privacy {
            margin-top: 60px;
            h2 {
                font-size: 24px;
                margin-top: 40px;
                margin-bottom: 20px;
            }
            h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }
            
            p {
                font-size: 18px;
                &.t1 {
                    padding-left: 10px;
                    &::before {
                        left: 2px;
                        top:-1px;
                    }
                }
            }
            .num_list {
                font-size: 18px;
                li {
                    padding-left: 20px;
                }
            }
            .kor_list {
                font-size: 18px;
                margin-top: 5px;
                padding-left: 22px;
                margin-bottom: 20px;
                li {
                    padding-left: 0;
                }

            }
            .dot_list {
                font-size: 18px;                
                li {
                    padding-left: 20px;
                    &::before {
                        top:-11px;
                        font-size: 30px;
                    }
                }
            }
            .mb {
                margin-bottom: 20px;
            }
        }
    }
}