.result {
    margin-bottom: vw(50);
    padding:0 vw(15) 0;
    .btn_app {
        margin-top: vw(40);
    }
    .cont_wrap {
        position: relative;
    }
    h2 {
        font-size: vw(18);
        text-align: left;
        font-weight: 500;
        letter-spacing: -0.05em;
        margin: vw(32) 0 vw(10);
        color:#000;
        span {
            color:#EA5504;
        }
    }
    .info_txt {
        position: absolute;
        right:vw(5);
        top:vw(2);
        font-size: vw(14);
        color:#777;
        span {
            color:#EA5504;
        }
    }
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: vw(23);
        margin:0 auto;
        border-radius: 3px;
        padding:0 vw(9.5);
        font-size: vw(15);
        font-weight: 700;
        color:#fff;
        span {
            padding-right: vw(10);
            background: url(../img/ico_poly_right_w.svg) no-repeat 100% 50% / vw(5) vw(7);
        }
        &.ogrange {
            background-color: #EA5504;
        }
        &.purple {
            background-color: #9255E4;
        }
    }

    .award_list {
        li {
            display: flex;
            margin-bottom: vw(10);
            &:last-child {
                margin-bottom: 0;
            }
            strong {
                display: flex;
                justify-content: center;
                align-items: center;
                flex:0 0 1;
                width: vw(90);
                font-weight: 700;
                font-size: vw(17);
                color:#fff;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            .gold {
                background-color: #EA5504;
            }
            .silver {
                background-color: #FFA24D;
            }
            .bronze {
                background-color: #666;
            }
            .encouragement {
                background-color: #999;
            }
            div {
                flex:1;
                font-size: vw(15);
                padding:vw(10) 0 vw(10) vw(20);
                letter-spacing: -0.03em;
                border: 3px solid #ECECEC;
                border-left: 0 solid #000;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                b {
                    font-weight: 500;
                }
            }
        }
    }

    .result_box {
        background: #F0F1F2;
        padding:vw(30) vw(15);
        margin:0 vw(-15);
        font-size: vw(15);
        letter-spacing: -0.03em;
        color:#000;
        input {
            display: flex;
            align-items: center;
            width: 100%;
            height: vw(44);
            font-size: vw(15);
            background: #fff;
            border-radius: 5px;
            border: 0 solid #000;
            padding-left: vw(45);
            font-weight: 500;
            letter-spacing: -0.03em;
            text-transform: capitalize;
            &::placeholder {
                color:#999;
            }
            & + input {
                margin-top: vw(8);
            }
            &.ip_num {
                background: #fff url(../img/ic-paper.svg) no-repeat vw(17) 50% / vw(17) vw(21);
            }
            &.ip_date {
                background: #fff url(../img/ic-date.svg) no-repeat vw(17) 50% / vw(16) vw(24);
            }
        }
        .btn_app {
            margin-top: vw(14);
        }
    }
    

}

@include desktop {
    .result {
        width: 1030px;
        margin:0 auto 100px;
        padding:0;
        .btn_app {
            margin-top: 60px;
        }

        h2 {
            font-size: 24px;
            margin: 60px 0 16px;
        }
        .info_txt {
            position: static;
            text-align: right;
            font-size: 20px;
            margin-bottom: 10px;

        }
        
        .btn {
            height: 38px;
            padding:0 20px;
            font-size: 21px;
            span {
                padding-right: 20px;
                background: url(../img/ico_poly_right_w.svg) no-repeat 100% 50% / 8px 14px;
            }
        }

        .award_list {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 50%;
                margin-bottom: 20px;
                &:nth-child(odd) {
                    margin-right: 30px;
                    width: calc(50% - 30px);
                }
                &:nth-child(3) {
                    margin-bottom: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                strong {
                    width: 120px;
                    font-size: 21px;
                }                
                div {
                    font-size: 20px;
                    padding:23px 0 23px 28px;
                }
            }
        }
    
        .result_box {
            padding:60px 0;
            margin:0;
            font-size: 22px;
            letter-spacing: -0.03em;
            color:#000;
            input {

                width: 600px;
                height: 60px;
                font-size: 22px;
                padding-left: 50px;
                margin:0 auto;      
                font-weight: 400;          
                & + input {
                    margin-top: 10px;
                }
                &.ip_num {
                    background: #fff url(../img/ic-paper.svg) no-repeat 17px 50% / 17px 21px;
                }
                &.ip_date {
                    background: #fff url(../img/ic-date.svg) no-repeat 17px 50% / 16px 24px;
                }
            }
            .btn_app {
                width: 600px;
                margin-top: 30px;
            }
        }
        
    }

}